:root {
    --nav-small-width: 73px;
    --nav-large-width: 244px;
    --nav-mobile-height: 50px;
    --def-font-size: 18px;
    --color-muted: #dee2e6;
    --def-img-size: 24px;
    --home-max-width: 630px;
    --app-primary-bg: white;
    --cgram-secondary-bg: white;
}

.font-def {
    font-size: var(--def-font-size);
}

.img-def {
    font-size: var(--def-img-size);
}

.nav-offset-w {
    margin-left: var(--nav-small-width);
}

.pad-x-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pad-12 {
    padding: 12px;
}

.nav-full-h {
    height: 100vh;
    height: 100dvh;
}

.hide-x {
    overflow-x: hidden;
}

.icon-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr-40 {
    margin-right: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
}

.flex-grow-2 {
    flex-grow: 2;
}

.profile-img {
    background-color: var(--cgram-secondary-bg);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

button {
    margin: 0;
    border: 0;
}

.header-b-gap {
    margin-bottom: 20px;
}

.button-fill {
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0;
}

.user-nav-tab {
    height: 52px;
    border-top: 1px solid transparent;
}

.user-nav-tab:not(:last-child) {
    margin-right: 60px;
}

.active-nav-tab {
    border-color: black;
}

.pb-full {
    padding-bottom: 100%;
}

.sidenav-bar {
    height: 100vh;
    height: 100dvh;
}

.mednav-bar {
    width: var(--nav-small-width);
}

h2 {
    margin-bottom: 0px !important;
}

.settings-icon {
    font-size: 24px;
}

.user-profile-header {
    margin-bottom: 44px;
}

.profile-logo {
    width: 150px;
    height: 150px;
}

.main {
    background-color: rgb(var(--app-primary-bg));
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    order: 4;
}

.card-content {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    vertical-align: baseline;
}

.img-wrapper {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

.img-singlepost-wrapper {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.image-container {
    overflow-y: visible;
    align-content: stretch;
    flex-direction: column;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    align-self: auto;
    justify-content: flex-start;
    bottom: 0;
    flex-grow: 0;
    left: 0;
    top: 0;
    position: absolute;
}

.slide-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.card-ul {
    border: 0;
    display: flex;
    flex-direction: row;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.card-li {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: baseline;
}

.card-wrapper {
    width: 468px;
    overflow-y: visible;
    align-content: stretch;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
}

.slide-pos-container {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.card-btn {
    flex-shrink: 0;
    align-items: stretch;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    vertical-align: baseline;
    touch-action: manipulation;
    padding-left: 0;
    flex-direction: column;
    display: flex;
}

.CardList {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
    max-width: 630px;
}

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    font: inherit;
    padding: 0;
    overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}


.mb-nav-top {
    height: calc(var(--nav-mobile-height) - 6px);
}

.user-posts-gap {
    margin-right: 3px;
}

.home-mw-1120 {
    max-width: 1013px;
}

.SinglePost {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 935px;
    padding-top: calc(4vh);
    width: 100%;
}

.toggle-row-col-768 {
    flex-direction: row;
}

textarea {
    border: none !important;
    outline: none;
}

@media (max-width: 767px) {

    .toggle-row-col-768 {
        flex-direction: column;
    }

    .profile-logo {
        width: 75px;
        height: 75px;
    }

    .user-profile-header {
        margin-bottom: 0;
    }

    .header-b-gap {
        margin-bottom: 12px;
    }

    .edit-profile {
        max-width: 250px;
        width: 100%;
    }

    .border-mb-top-muted {
        border-top: 1px solid var(--color-muted);
    }

    .w-mb-33 {
        width: 33.33%;
    }

    .user-nav-tab {
        margin-right: 0px !important;
    }

    .sidenav-bar {
        width: 100%;
        flex-direction: column;
        top: auto;
        height: fit-content !important;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: stretch;
        bottom: 0;
        justify-content: flex-start;
        border-top: 1px solid var(--color-muted);
    }
    
    .mednav-bar {
        position: relative;
        padding: 0 !important;
        height: var(--nav-mobile-height) !important;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 !important;
        flex-direction: row !important;
    }
    
    .sidenav-items {
        display: flex;
        margin: 0px !important;
        justify-content: space-evenly;
    }

    .nav-offset-w {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {

    .user-posts-gap {
        margin-right: 28px;
    }

    .mr-md-40 {
        margin-right: 40px;
    }
}

@media (max-width: 1120px) {
    .hide-mw-1120 {
        display: none;
    }

    .home-mw-1120 {
        max-width: 630px;
    }
}

@media (min-width: 1200px) {
    .mednav-bar {
        width: var(--nav-large-width);
    }

    .nav-offset-w {
        margin-left: var(--nav-large-width);
    }
}